// Variables
@import 'variables';

// Theme
@import 'theme';

.container-fluid {
  padding: 0;
  margin: 0;
  position: relative;
}

ul {
  padding-left: 0
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner .carousel-item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}

.container-fluid .col > img {
  width: 100%;
  height: auto;
}

 .navbar-light .navbar-nav .active > .nav-link {
   color: #004924;
 }

 .col {
   margin: 0;
   padding: 0;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
 }

 .row{
    margin-left: 0;
    margin-right: 0;
}
